--find-links https://github.com/jerry-git/dlib-bin/releases/download/v19.24.1/dlib-19.24.1-cp311-cp311-linux_x86_64.whl
dlib-bin
face-recognition
opencv-python-headless
streamlit
streamlit-webrtc
numpy
